h1,
.h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 36px;
  color: #1a3132;
}

h2,
.h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: 0.15px;

  /* Typography/Black */

  color: #1a3132;
}

@media screen and (max-width: 768px) {
  h1,
  .h1 {
    font-size: 20px;
    line-height: 24px;
  }
}
