.MuiTypography-root {
  font-family: Rubik, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.MuiInputBase-root,
.MuiOutlinedInput-input,
.MuiInputLabel-root {
  font-family: Rubik, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.MuiTypography-h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 36px;
  /* identical to box height, or 106% */

  /* Typography/Black */

  color: #1a3132;
}

.MuiTypography-subtitle1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.15px;

  /* Typography/Black */

  color: #1a3132;
}

.MuiTypography-subtitle2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: 0.4px;
  text-decoration-line: line-through;

  /* Typography/Grey 2 */

  color: #94a5a6;
}
.MuiTypography-body1 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  letter-spacing: 0.4px;

  /* Typography/Grey 1 */

  color: #536566;
}

.MuiTypography-caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: 0.4px;

  /* Typography/Black */
  color: #1a3132;
}

.MuiTypography-caption.sm {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: 0.4px;

  /* Typography/Grey 2 */

  color: #94a5a6;
}

@media screen and (max-width: 768px) {
  .MuiTypography-h1 {
    font-size: 20px;
    line-height: 24px;
  }
}

/* prod detail  */
.MuiTypography-h2 {
  font-size: 20px;
  font-weight: 500;
}

.link {
  color: #008085;
  font-size: 16px;
}

.css-1ps4owl-MuiTypography-root-MuiLink-root {
  text-decoration: none;
}
